/* CSS files add styling rules to your content */

body {
  font-family: georgia, arial, sans-serif;
  margin: 2em;
  background-color: seashell;
    color: steelblue; 
}

h1 {
  font-family: verdana, arial, sans-serif; 
  color: steelblue;
}

button{
  padding: 10px;
  border-radius: 10px;
}


#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}
#button1 {
  background: lightgreen;
}
#button2 {
    background: lightblue;
}
#button3 {
    background: pink;
}
#button4 {
    background: lightyellow;
}
#button5 {
  background: mediumPurple;
}
#button6 {
  background: PeachPuff;
}
#button7 {
  background: tan;
}

#button1:active, #button1.lit {
  background: url(https://cdn.glitch.com/21ea07f7-35e6-4eda-a921-4ebd969a5475%2FC.png?v=1615227218172);
  background-position: center;
  background-size: 200px 200px;
}

#button2:active, #button2.lit{
  background: blue;
  background: url(https://cdn.glitch.com/21ea07f7-35e6-4eda-a921-4ebd969a5475%2FD.png?v=1615227218172);
  background-position: center;
  background-size: 200px 200px;
}
#button3:active, #button3.lit{
  background: red;
  background: url(https://cdn.glitch.com/21ea07f7-35e6-4eda-a921-4ebd969a5475%2FE.png?v=1615227218594);
  background-position: center;
  background-size: 200px 200px;
}
#button4:active, #button4.lit{
  background: yellow;
  background: url(https://cdn.glitch.com/21ea07f7-35e6-4eda-a921-4ebd969a5475%2FF.png?v=1615227218846);
  background-position: center;
  background-size: 200px 200px;
}
#button5:active, #button5.lit {
  background: purple;
  background: url(https://cdn.glitch.com/21ea07f7-35e6-4eda-a921-4ebd969a5475%2FG.png?v=1615227221214);
  background-position: center;
  background-size: 200px 200px;
}

#button6:active, #button6.lit{
    background: rosybrown;
  background: url(https://cdn.glitch.com/21ea07f7-35e6-4eda-a921-4ebd969a5475%2FA.png?v=1615227218172);
  background-position: center;
  background-size: 200px 200px;
}
#button7:active, #button7.lit{
    background: saddlebrown;
  background: url(https://cdn.glitch.com/21ea07f7-35e6-4eda-a921-4ebd969a5475%2FB.png?v=1615227218172);
  background-position: center;
  background-size: 200px 200px;
}

.hidden {
  display: none;
}